

h1{
    text-align: center;
}

samp{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mio{
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.link{
    text-transform: capitalize;
    text-decoration: none;
    margin: 25px;}



.equipo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.imagenes{
    height: 150px;
}

.principals{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.principall{
    font-size: 25px;
    text-align: center;
}

.recien{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

.puesto{
    margin-top: 0px;
    font-size: 15px;
}